VITE_APP_TITLE=SampleActivity
VITE_DISCORD_CLIENT_ID=<APPLICATION_ID>
DISCORD_CLIENT_SECRET=<CLIENT_SECRET>
DISCORD_REDIRECT_URI=<MY_URL>
VITE_SOCKET_SECRET_KEY=<RANDOM_STRING>
ALLOWED_ORIGINS=<MY_URL>,localhost
PORT=3030
